.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__item {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.cabecalho__item__titulo {
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 20px;
    color: var(--preto);
    display: none;
}

.cabecalho__list {
    align-items: center;
    display: flex;
}

.container {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width: 70vw;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-family: var(--fonte);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__item {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 1em;
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.container:checked~.lista-menu {
    display: block;
}

.cabecalho__item__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.header__titulo {
    display: none;
}

.opçoes__item {
    display: none;
}

.opçoes-botao {
    display: none;
}

@media screen and (min-width: 500px) {
    .header__titulo {
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 30px;
        display: block;
        padding-top: 8px;
    }

    .header__titulo-negrito {
        font-weight: 700;
    }

    .opçoes {
        display: flex;
    }

    .opçoes__item {
        text-decoration: none;
        padding: 0 1em;
        font-family: var(--fonte);
        font-weight: 400;
        color: var(--preto);
        text-transform: uppercase;
        display: block;
    }

    .cabecalho__item__menu {
        display: none;
    }

    .cabecalho__logo {
        display: flex;
        align-items: center;
        padding-left: 80px;
    }

    .cabecalho__item-transparente {
        display: none;
    }

    .cabecalho__list {
        padding-right: 60px;
    }

    .cabecalho__item {
        padding: 1em 1.5em;
    }

    .opçoes-botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .cabecalho__item__titulo {
        display: none;
    }
}

@media screen and (min-width: 1065px) {
    .cabecalho__item__titulo {
        display: block;
    }

   .opçoes {
        margin-right: auto;
   }
}